<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>易藏</title>
    <link rel="stylesheet" type="text/css" href="static/css/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <script src="static/js/jquery-3.4.1.js" type="text/javascript" charset="utf-8"></script>



<body>

<div class="header"><!--上半层-->
    <div class="bar">
        <div class="w1200">
            <span class="l">易藏<font>我的收藏</font></span>
        </div>
    </div>
    <div class="user-info">
        <div class="w1200">
            <div class="user-headface">
                <img src="static/images/user_face.jpg" />
            </div>
            <div class="user-account">
                <p class="tip">你好，小明</p>
                <p class="account">
                    <span></span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="main w1200">
    <!--下半层-->
    <div class="left">
        <!--左半溜-->
        <ul>
            <li>
                <a href="#" class="active">
                    <i class="icon iconfont icon-lingdang"></i>
                    列表
                </a>
            </li>
            <li>
                <a href="#" id="btn">
                    <i class="icon iconfont icon-fangzidichan"></i>
                    添加
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon iconfont icon-jilu"></i>
                    分享
                </a>
            </li>
        </ul>
    </div>
    <div class="right">
        <!--主体-->
        <div class="tap">
            <span>收藏列表</span>
        </div>
        <div class="container">
            <!--数据-->
            <div class="no-doc" id="box">

            </div>
        </div>
    </div>
</div>

<div id="choiceWindow">
    <label id="x" style="position: absolute;top:2px;left: 95%;font-size: 25px;">x</label>
    <form>
        网址：<input type="text" id="web" class="name" style="width: 80%" required="">
        <br><br>
        标题：<input type="text" id="tit" class="name" style="width: 80%" required="">
        <br><br>
        简介：<input type="text" id="int" class="name" style="width: 80%" required="">
        <br><br>
        <input type="button" value="收藏" onclick="geton()">
    </form>
</div>
<script>
    $(document).ready(function() {
        $("#btn").click(function() {
            $("#choiceWindow").slideDown(300);
            $("#backGround").show();

        });

        $("#x").click(function() {
            $("#choiceWindow").slideUp(300);
            $("#backGround").hide();
        })

    });
</script>
<script>
    function geton()
    {

        var txt1=document.createElement("p");
        txt1.innerHTML=$("#web").val();
        var txt2=document.createElement("p");
        txt2.innerHTML=$("#tit").val();
        var txt3=document.createElement("p");
        txt3.innerHTML=$("#int").val();
        txt1.prepend("网址： ");
        txt2.prepend("标题： ");
        txt3.prepend("简介： ");
        var txt4="<br><hr/>";
        var txt0="<br>";
        $.post("\api\)
        $("#box").append(txt0,txt1, txt2, txt3,txt4);

    }
</script>
<div id="backGround"></div>

</body>

</html>
