<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>易藏-分享的收藏</title>
    <link href="../static/css/sharestyle.css" rel='stylesheet'/>

</head>

<body>

<!-- 导航栏 -->
<div class="header">
    <div class="inner">
        <div class="logo">
            <h1>
                <a name="top">
                    易藏
                </a>
                <img src="../static/images/logo.png" width="30" align="top"/></h1>
        </div>
        <div class="navs">
            <a href=""class="nav">首页</a>
            <a href=""class="nav">我的收藏</a>
            <a href=""class="nav">我的分享</a>
            <a href=""class="nav">注册/登录</a>
            <a href="" class="joinus">一键导入</a>
        </div>
        <div class="changelang">

            <a href="" class="cn">中文</a>
            <a href="">EN</a>

        </div>

    </div>
</div>

<!-- banner：静态 -->
<div class="banner">
    <br/>

    <h2 style="color:#0B614B">
        <img src="../static/images/avatar.png" width="120" height="115" align="left"/>
        ID:<br/>
        NICKNAME:
    </h2><br/><hr/><br/>

</div>

<!-- 宣传栏 -->
<div class="content">

    <br/>
    <li>
        <h3>GitHub.Build software better, together</h3>
            <br/>
            <p style="color:grey">
                <a href="https://github.com "target="_blank"><img src="../static/images/github.png"
                                                                  alt="01" width="90" height="90" align="left" ></a>
                <small style="margin-left:15px">
                    GitHub 是一个面向开源及私有软件项目的托管平台，因为只支持 Git 作为唯一的版本库格式进行托管，
                    故名 GitHub。 GitHub 于 2008 年 4 月 10 日正式上线，除了 Git 代码仓库托管及基本的 Web 管理界面以外，
                    还提供了订阅、讨论组、文本渲染、在线文件编辑器、协作图谱（报表）、代码片段分享（Gist）等功能。
                    目前，其注册用户已经超过 350 万，托管版本数量也是非常之多，其中不乏知名开源项目 Rubyon Rails、jQuery、python 等。
                </small>
            </p>
            <br/> <br/><hr/><br/>

    </li>

    <li>
        <h3>Wizard world - the official home of Harry Potter</h3><br/>
        <a href="https://www.wizardingworld.com" target="_blank"> <img src="../static/images/pottermore.png"
                                                                       alt="02" width="90" height="90"></a>
        <br/><br/><hr/><br/>

    </li>

    <li>
        <h3>Wordpress - make your own blog</h3><br/>
        <a href="https://wordpress.com" target="_blank"> <img src="../static/images/wordpress.png"
                                                              alt="03" width="90" height="90"></a>
        <br/><br/><hr/><br/>
    </li>

    <li>
        <h3>w3school-全球最大的中文 Web 技术教程</h3><br/>
        <a href="https://www.w3school.com.cn" target="_blank"> <img src="../static/images/w3school.png"
                                                                    alt="04" width="90" height="90"></a>
        <br/> <br/><hr/><br/>
    </li>
    </ul>
    <div class="footer">
        <div class="inner">
            <div class="navs"><a href="#top" class="retop">返回顶部</a></div>
        </div></div>
</div>


</body>

